<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <!--    <context:component-scan base-package="com.xupt.controller">-->
    <!--        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
    <!--    </context:component-scan>-->
    <!--    -->


    <!--    配置处理器映射器-->
    <!--    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">-->
    <!--        <property name="messageConverters">-->
    <!--            <list>-->
    <!--                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>-->
    <!--            </list>-->
    <!--        </property>-->
    <!--    </bean>-->
    <!--    Controller组件扫描-->
    <context:component-scan base-package="com.controller"/>
    <!--    1MVC注解驱动-->
    <mvc:annotation-driven></mvc:annotation-driven>
    <!--    开发资源的访问-->
    <!--    <mvc:resources mapping="/js/**" location="/js/"/>-->
    <!--    <mvc:resources mapping="/img/**" location="/img/"/>-->
    <!--    2配置内部资源视图解析器-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
    <!--    3静态资源权限开放-->
    <mvc:default-servlet-handler/>
    <!--    声明转换器-->
<!--    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">-->
<!--        <property name="converters">-->
<!--            <list>-->
<!--                <bean class="com.xupt.converter.DateConverter"></bean>-->
<!--            </list>-->
<!--        </property>-->
<!--    </bean>-->
<!--      配置文件上传解析器-->
<!--        <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
<!--            <property name="defaultEncoding" value="UTF-8"/>-->
<!--            <property name="maxUploadSize" value="5000000"/>-->
<!--        </bean>-->

    <!--  配置拦截器  -->
<!--    <mvc:interceptors>-->
<!--        <mvc:interceptor>-->
<!--            &lt;!&ndash;            对哪些资源进行拦截操作&ndash;&gt;-->
<!--            <mvc:mapping path="/target"/>-->
<!--            <bean class="com.xupt.interceptor.MyIntercptor1"/>-->
<!--        </mvc:interceptor>-->
<!--        <mvc:interceptor>-->
<!--            &lt;!&ndash;            对哪些资源进行拦截操作&ndash;&gt;-->
<!--            <mvc:mapping path="/target"/>-->
<!--            <bean class="com.xupt.interceptor.MyIntercptor2"/>-->
<!--        </mvc:interceptor>-->
<!--    </mvc:interceptors>-->

    <!--    异常处理器-->
    <!--    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">-->
    <!--&lt;!&ndash;        <property name="defaultErrorView" value="error"/>&ndash;&gt;-->
    <!--        <property name="exceptionMappings">-->
    <!--            <map>-->
    <!--                <entry key="com.xupt.exception.MyException" value="error2"/>-->
    <!--                <entry key="java.lang.ClassCastException" value="error"/>-->
    <!--            </map>-->
    <!--        </property>-->
    <!--    </bean>-->

</beans>
